{% extends "layout.html" %}


{% block body %}

<h3>Hakkımızda</h3>
<hr>

<p>
    Yazılım Bilimi, Mustafa Murat Coşkun tarafından Türkiyede programlama eğitimleriyle ilgili türkçe kaynak sıkıntısını giderebilmek amacıyla 10 Nisan 2015 yılında  Orta Doğu Teknik Üniversitesinde yayın hayatına başlamıştır. Kanalda, programlama eğitimleri (Java, Python, JavaScript) ve modern yazılım geliştirme ile ilgili eğitimler yer almaktadır. Kanalın reklam gelirleri Ağustos 2023'ten itibaren kar amacı gütmeyen kurumlara bağışlanmaktadır. 
</p>
{% endblock body %} 

