{% extends "layout.html" %}

{% block body %}
<div class="row">
    <div class="col-lg-8">
        <!-- Post content-->
        <article>
            <!-- Post header-->
            <header class="mb-4">
                <!-- Post title-->
                <h3 class="fw-bolder mb-1">{{article.title}}</h3>
                <!-- Post meta content-->
                <p class="lead">
                    by
                    {{article.author.username}}
                </p>
                <hr>
                <div class="text-muted fst-italic mb-2">{{article.created_date}}</div>
                <hr> 
                <hr>
                <hr>
            </header>
                
            <!-- Preview image figure-->
            {% if article.article_image %}
            <figure class="mb-4"><img class="img-fluid rounded" src="{{article.article_image.url}}" alt="..." /></figure>
            {% endif %}
            
            <!-- Post content-->
            <section class="mb-5">
                <p class="lead">
                     {{article.content|safe}}   
                </p>
            </section>
        </article>
        <hr>

        <h4>Yorumlar</h4>
        <hr>
        {% if comments %}
        {% for comment in comments %}
          <div class="media mb-4">
            <div class="d-flex mr-3 rounded-circle"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
            <div class="media-body">
                <h5 class="mt-0">{{comment.comment_author}}</h5>
                {{comment.comment_date}} <br>
                {{comment.comment_content}}
            </div>
        </div>
        {% endfor %}

    
        {% else %}
        <div class = "alert alert-danger">
            Bu makaleye herhangi bir yorum yazılmamış, ilk yorum yapan siz olun!
        </div>
        {% endif %}
        </section>
        <section class="mb-5">
            <div class="card bg-light">
                <div class="card-body">
                    <!-- Comment form -->
                    <form method = "post" action = "{% url 'article:comment' article.id %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="formGroupExampleInput">İsim</label>
                            <input name ="comment_author" type="text" class="form-control" id="formGroupExampleInput" placeholder="İsminizi girin">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Yorum</label>
                            <textarea name = "comment_content" class="form-control" rows = "3"></textarea>
                        
                        <button type="submit" class="btn btn-danger">Yorum Yap</button>
                    </form>
    </div>
    
</div>


{% endblock body %}